body {
  font-family: 'Roboto', sans-serif;
}

#main {
  margin: auto;
}

#logo {
  width: 110px;
  position: absolute;
  left: 31px;
  top: 15px;
}

button {
  padding: 7px 15px;
}

input {
  margin: 20px 0px;
  margin-left: 154px;
  height: 33px;
  border-radius: 25px;
  border-color: #CCC;
  padding-left: 15px;
  width: 500px;
}

.total-results {
  margin-left: 159px;
  font-size: 13px;
}

.result {
  max-width: 600px;
  margin-left: 159px;
}

.result h3 {
  color: #0086f8;
  margin-bottom: 4px;
}